body{
    background: black;
    overflow: hidden;
}
#dados{
    height: 10vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botoes{
    background-image: linear-gradient(to bottom, #000000, #FFFF00);
    border: 2px solid #FFFF00;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 16px;
}
#resp{
    color: #FFFFFF;
    height: 40vw;
    display: flex;
    justify-content: center;
    font-size: 100px;
}